<div class="banner">
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>Coq tells</h1>
            <p>Les french cocktails de la moustache...</p>
            <br>
            <%= link_to 'See our cocktails', cocktails_path, class: 'btn-transparent'  %>
            <br><br><br>
            <a href="/cocktails/new">
              <button class="btn-transparent" style="width: 250px;">
                <span id="banner-typed-text"></span>
              </button>
        <div class="col-sm-8">
    </a>
  </div>
</div>
